<div class="comp-border">
    <mat-card>Notification</mat-card>
    <div>
         <button mat-button (click)="getPublicKeyFromServer()">Get public key from Server</button>
         <div class="orange" *ngIf="VAPID_PUBLIC_KEY">Public Key - {{VAPID_PUBLIC_KEY}}</div>
    </div>
    <div>
        <button mat-button (click)="subscribeForNotification()">Subscribe for Notification</button>
   </div>
    <button mat-button (click)="send()">send Notification to subscriber</button>
</div>