<app-my-counter ></app-my-counter>
<app-my-counter-display  ></app-my-counter-display>


<div class="advance-example">
    <div>
        <mat-card>COMPONENT 1st </mat-card>
        <h2>Books</h2>
        <app-book-list class="book-list" [books]="books$ | async" (add)="onAdd($event)"></app-book-list>
    </div>
    <div>
        <mat-card>COMPONENT 2st </mat-card>
        <h2>My Collection</h2>
        <app-book-collection class="book-collection" [books]="bookCollection$ | async" (remove)="onRemove($event)">
        </app-book-collection>
    </div>
  
  
</div>
