<div class="menu">
    <div class="title">Angular Master</div>
    <div class="nav-item" [routerLink]="['ngrx']" routerLinkActive="selected">NGRX</div>
    <div class="nav-item" [routerLink]="['pwa']" routerLinkActive="selected">PWA</div>
</div>