.menu{
    min-height: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    border-bottom: 1px solid grey;
    position: fixed;
    width: 100%;

}

.nav-item{
    min-width: 70px;
    padding: 10px;
    text-align: center;
    background: blanchedalmond;
    margin: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
}


.title{
    font-weight: bold;
    color: brown;
    font-size: large;
}

.selected{
    background: #e1a64e;
    color: white;
}


