.parent-cnt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content{
    min-height: 80vh;
    background-color: #fff0e7;
    margin-top: 50px;
    padding: 40px;
}