<div class="comp-border">
    <mat-card>COMPONENT 1st</mat-card>
    <div>
        <button mat-button (click)="increment()" >increment</button>
        <button  mat-button (click)="decrement()">decrement</button>
        <button mat-button (click)="reset()">reset</button>    
    </div>
    
</div>